body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #333;
	color: #fff;
	padding: 20px;
	box-sizing: border-box;
	z-index: 999;
}

.navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	margin-bottom: 20px;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.navbar a:hover {
	color: #ccc;
}

.section {
  padding-top: 50px;
	padding-left: 200px;
	box-sizing: border-box;
	min-height: 100vh;
}

.section.home {
	background-color: #eee;
}

.section.cadastro {
	background-color: #ddd;
}

.section.deposito {
	background-color: #ccc;
}

.section.saque {
	background-color: #bbb;
}

.section.transferencia {
	background-color: #aaa;
}